:root {
  --primary-color: #ffffff;
  --secondary-color: #1a4b8e;
  --tertiary-color: #5b5b5b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-container h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.est-2023 {
  font-size: 14px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-self: center; /* Center the EST 2023 text */
  margin-top: 5px; /* Small space between the main text and EST 2023 */
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.45vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */

/* HERO SECTION STYLES START */
.hero {
  position: relative;
  background: url("../images/hero-image-1.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 0; /* Adjust this value as needed to move the content down */
  min-height: 500px;
}

.hero.services-hero {
  background: url("../images/hero-image-2.jpg") no-repeat center center/cover;
}

.hero.gallery-hero {
  background: url("../images/hero-image-3.jpg") no-repeat center center/cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Add overlay */
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
  top: 50%; /* This will center the content vertically */
  transform: translateY(-50%); /* This will adjust the position to be centered */
}

.hero h2 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 30px;
  margin-bottom: 20px;
}
/* HERO SECTION STYLES END */

/* SERVICES PAGE STYLES START */
.services-page {
  background-color: #f4f4f4; /* Light grey background */
  color: var(--tertiary-color);
  padding: 60px 20px; /* Consistent padding */
}

.services-page .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* New Text Boxes Section */
.text-boxes {
  padding: 60px 20px;
  background-color: inherit; /* Use the same background color as the parent */
}

.text-boxes .about-us-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-boxes .about-us-text {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.text-boxes .about-us-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.text-boxes .about-us-text p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

/* Services Overview Section */
#services-overview {
  background-color: #f4f4f4; /* Use the same background color as the parent */
  text-align: center;
  padding: 60px 20px;
  color: var(--tertiary-color);
}

#services-overview .container {
  max-width: 1200px;
  margin: 0 auto;
}

#services-overview .section-title {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}

#services-overview .section-title .highlight {
  color: var(--secondary-color);
}

#services-overview .sub-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

#services-overview .description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

#services-overview .features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#services-overview .feature-item {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  text-align: center;
  max-width: 300px;
}

#services-overview .feature-item img {
  max-width: 80px;
  margin-bottom: 20px;
}

#services-overview .feature-item h4 {
  font-size: 18px;
  color: var(--tertiary-color);
  margin-bottom: 10px;
}

#services-overview .feature-item p {
  font-size: 14px;
  color: var(--tertiary-color);
}


/* COMMON SECTION STYLES START */
.section {
  padding: 60px 20px;
  background-color: var(--background-color);
  color: var(--tertiary-color);
}

.section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 40px;
}

.section-title .highlight {
  color: var(--secondary-color);
}

.text-boxes, .about-us-section, .management-team-section, .services-page, .gallery-text, .contact {
  background-color: #f4f4f4;
  padding: 60px 20px;
}

.text-boxes .about-us-content, .about-us-section .about-us-content, .management-team-section .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-boxes .about-us-text, .about-us-section .about-us-text, .management-team-section .team-member, .service-card, .gallery-item {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s;
}

.text-boxes .about-us-text h2, .about-us-section .about-us-text h2, .management-team-section .team-member h3, .service-card h3, .gallery-item p {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.text-boxes .about-us-text p, .about-us-section .about-us-text p, .management-team-section .team-member p, .service-card p, .gallery-item p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
}
/* COMMON SECTION STYLES END */

/* ABOUT US SECTION STYLES START */
.about-us-section {
  background-color: #f4f4f4;
  color: #333;
  padding: 60px 20px;
}

.about-us-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-section .about-us-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us-section .about-us-text {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about-us-section .about-us-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.about-us-section .about-us-text p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

/* SERVICES PAGE TEXT BOXES STYLES */
.text-boxes {
  background-color: #f4f4f4;
  color: #333;
  padding: 60px 20px;
}

.text-boxes .container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-boxes .about-us-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-boxes .about-us-text {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.text-boxes .about-us-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.text-boxes .about-us-text p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
}
/* SERVICES PAGE TEXT BOXES STYLES END */

/* MANAGEMENT TEAM SECTION STYLES START */
.management-team-section {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.management-team-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.management-team-section .section-title {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 40px;
}

.management-team-section .team-photo-placeholder {
  width: 100%;
  height: 300px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.management-team-section .team-photo-placeholder p {
  font-size: 20px;
  color: #666;
}

.management-team-section .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.management-team-section .team-member {
  width: 22%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.management-team-section .member-photo-placeholder {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.management-team-section .team-member h3 {
  font-size: 18px;
  color: var(--tertiary-color);
  margin-bottom: 10px;
}

.management-team-section .team-member p {
  font-size: 14px;
  color: #666;
}
/* MANAGEMENT TEAM SECTION STYLES END */

/* WHY CHOOSE US SECTION STYLES START */
.why-choose-us-section {
  background-color: #f4f4f4;
  color: #333;
  padding: 60px 20px;
  text-align: center;
}

.why-choose-us-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.why-choose-us-section .section-title {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 40px;
}

.why-choose-us-section .features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.why-choose-us-section .feature-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 45%;
}

.why-choose-us-section .feature-item .icon {
  font-size: 24px;
  color: var(--secondary-color);
  margin-right: 10px;
}

.why-choose-us-section .feature-item p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

/* WHY CHOOSE US SECTION STYLES END */

/* SERVICES SECTION STYLES START */
#our-services {
  text-align: center;
  padding: 60px 20px;
  background-color: #f4f4f4;
  color: black;
}

#our-services .container {
  max-width: 1200px;
  margin: 0 auto;
}

#our-services .section-title {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 20px;
  color: var(--tertiary-color);
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  color: var(--tertiary-color);
}
/* SERVICES SECTION STYLES END */

/* OUR PARTNERS SECTION STYLES START */
#our-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: white;
  color: black;
}

.partner-row {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between logos as needed */
  margin-bottom: 20px; /* Space between rows */
}

.partner-row:first-child {
  justify-content: center; /* Specifically center the first row for single image */
  max-width: 500px; /* Prevents the images from being too large */
}

.partner-item {
  flex: 1; /* Each partner item takes equal space in the row */
  text-align: center; /* Centers the images within their flex item */
  padding: 0 10px; /* Adds spacing between images */
}

.partner-item img {
  width: 80%; /* Adjust based on your preference */
  max-width: 500px; /* Prevents the images from being too large */
  height: auto;
}
/* OUR PARTNERS SECTION STYLES END */

/* GALLERY SECTION STYLES START */
#gallery {
  padding: 60px 20px;
  background-color: #f4f4f4; /* Change to light grey */
  color: black;
  text-align: center;
}

#gallery .container {
  max-width: 1200px;
  margin: 0 auto;
}

#gallery h2 {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 40px;
}

.gallery-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 30%;
  margin: 15px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.gallery-item:hover {
  transform: translateY(-10px);
}

.gallery-item p {
  font-size: 16px;
  color: var(--tertiary-color);
}
/* GALLERY SECTION STYLES END */

/* FOOTER STYLES START */
footer {
  background: var(--secondary-color); /* Use the updated secondary color */
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
  color: black; /* Change text color to black */
}

footer a {
  color: var(--primary-color);
}
/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px; /* Matches other sections' title size */
  color: var(--secondary-color); /* Ensure color consistency */
  padding-bottom: 20px; /* Spacing for aesthetic */
  text-align: center; /* Centers the text */
  display: inline-block; /* Allows the underline to fit the text width */
  border-bottom: 3px solid; /* Creates an underline */
  width: 1000px; /* Adjust width to content size */
  margin: 0 auto 35px auto; /* Centering the title horizontally */
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}
/* SECTION TITLE STYLES END */

/* REACH OUT SECTION START */
.contact {
  background: rgb(179, 179, 179);
  padding: 40px 20px; /* Adjusted padding to reduce space */
}

.contact .container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add padding to the container */
}

.contact h2 {
  color: var(--primary-color);
  margin-bottom: 20px; /* Reduced bottom margin */
}

.contact-info {
  display: flex;
  justify-content: space-between; /* This can help maintain spacing between the elements */
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
}

/* Targeting each child specifically by their class or element type if they don't have a specific class */
.contact-info .contact-form {
  order: 1; /* Contact form goes first */
  flex: 1 1 30%; /* Adjust sizing as necessary */
  text-align: center; /* Center the form elements */
}

.contact-info iframe {
  order: 2; /* Map goes second */
  flex: 1 1 40%; /* Giving more space to the map */
  height: 350px; /* Adjusted height to reduce space */
  width: 100%; /* Ensures it takes the full allocated space */
}

.contact-info > div:not(.contact-form) {
  order: 3; /* Address goes last */
  flex: 1 1 20%; /* Adjust sizing as necessary */
}

.contact-info > * {
  flex: 1;
  margin: 10px; /* Reduced margin to decrease space */
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 28px; /* Adjusted font size to reduce space */
  margin-bottom: 15px; /* Reduced bottom margin */
}

.contact-info p, .contact-info address {
  margin: 10px 0; /* Reduced margins to decrease space */
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 10px; /* Reduced bottom margin */
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact-form textarea {
  height: auto; /* Let the height be determined by the rows attribute */
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0; /* Reduced padding */
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

.contact-info a {
  color: var(--primary-color);
}

/* FORM ROW AND GROUP STYLES START */
.contact-form .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form .form-group {
    flex: 1;
    min-width: 45%;
    margin-right: 10px;
}

.contact-form .form-group:last-child {
    margin-right: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

/* FORM ROW AND GROUP STYLES END */
/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}